#page-amigos {
  ion-list{
    background: none;
    margin-top: 120px;
    ion-list-header{
      background: none;
    }
  }

  ion-fab-button {
    font-size: 24px;
    --border-radius: 16px;
    --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
      0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  }

  span{
    margin-right: 8px;
    font-size: 16px;
  }
ion-modal{
  ion-list{
    background: none;
  }
}
}
